<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Singup</title>
</head>
<body>
  <h1>Signup</h1>
  <form action="/user" method="post">
    <label>Enter your Full name</label>
    <input type="text" name="name" required>
    <label>Enter your Email</label>
    <input type="text" name="email" required>
    <label>Enter Password</label>
    <input type="text" name="password" required>
    <button type="submit">Submit</button>
  </form>
</body>
</html>