<%- include('../partials/head.ejs') %>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>

    <!-- main -->
    <div class="text-center bg-white p-6 rounded-lg shadow-lg">
      <h1 class="text-4xl font-bold text-red-600 mb-4">My Booking</h1>
      <p class="text-lg text-gray-700">Booking will appear here</p>

  </div>
</body>
</html>